.header-form {
  display: flex;
  width: 320px;
  height: 177px;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.header-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.header-form__title {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .header-form {
    width: 768px;
    height: 238px;
    background-color: #f1f1f1;
    margin-bottom: 54px;
  }

  .header-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
  }

  .header-form__title {
    font-size: 43px;
    font-weight: 600;
    line-height: 50px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .header-form {
    width: 1150px;
    height: 255px;
    background-color: #f1f1f1;
  }

  .header-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
  }

  .header-form__title {
    font-size: 53px;
    font-weight: 600;
    line-height: 57px;
    margin: 0;
  }
}
