.main-header {
  width: 100%;
}

.main-header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 240px 20px;
  grid-template-rows: 79px 1fr 1fr;
  width: 320px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  position: absolute;
  left: 117px;
  top: 1px;
  width: 123px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 79px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }
}

.main-header__prompt {
  display: none;
}

.main-header__toggle {
  position: absolute;
  top: 27px;
  right: 28px;
  z-index: 2;
  width: 21px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.main-header__toggle--closed {
  content: "";
  position: absolute;
  top: 27px;
  right: 28px;
  background-image: url("../img/main-header/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__toggle--opened {
  top: 32px;
  left: 272px;
  background-image: url("../img/main-header/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 100%;
  }

  .main-header__wrapper {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 88px);
    grid-template-columns: 400px 269px;
    width: 768px;
    margin: 0 auto;
  }

  .main-header__logo {
    position: initial;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    padding: 0 0 0 24px;
    align-items: center;
    margin: 0;
  }

  .main-header__border {
    position: absolute;
    top: 87px;
    height: 1px;
    width: 100%;
    background-color: fade(#000000, 30%);
  }

  .main-header__prompt {
    grid-column: 2;
    grid-row: 2;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: @base-text-color;
    margin: 0 0 27px 24px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 100%;
  }

  .main-header__wrapper {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 88px);
    grid-template-columns: 500px 100px 500px;
    min-width: 1150px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-header__border {
    position: absolute;
    top: 87px;
    height: 1px;
    width: 100%;
    background-color: fade(#000000, 30%);
  }

  .main-header__logo {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .main-header__prompt {
    grid-row: 2;
    grid-column: 3;
    justify-self: flex-end;
    margin: 0 14px 28px 0;
  }

  .main-header__toggle {
    display: none;
  }
}
