.navigation__list {
  display: none;
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    grid-row: 2;
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__list {
    display: flex;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .navigation__toggle {
    display: none;
  }
  .navigation {
    grid-row: 1;
    grid-column: 1/5;
  }
  .navigation__list {
    margin-top: 65px;
  }
}
