.user-navigation__list {
  display: none;
  list-style: none;
  padding: 0;
}

.user-navigation__link {
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: @base-title-color;
}

.user-navigation__prompt {
  display: block;
}

@media (min-width: @tablet-width) {
  .user-navigation {
    grid-column: 2;
    grid-row: 1;
    order: 1;
  }

  .user-navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .user-navigation__prompt {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .user-navigation {
    grid-column: 3;
    grid-row: 1;
    order: 1;
    padding: 0 50px 0 0;
    box-sizing: border-box;
  }

  .user-navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .user-navigation__item--search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 88px;
  }

  .user-navigation__item--basket {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 233px;
    height: 88px;
  }
}
