.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  font-size: 19px;
  font-weight: 600;
  line-height: 18px;
  color: @base-title-color;
}

.copyright__link {
  display: block;
  text-decoration: none;
  width: 50px;
  height: 35px;
  margin: 0;
  text-align: center;

  &:hover .copyright__icon {
    fill: #46c1ae;
  }

  &:active .copyright__icon {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: #63d1bb;
}
