.main-footer {
  margin: 0 auto;
  width: 280px;
  background-color: @footer-background;
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding: 0 89px;
  list-style-type: none;
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--vkontakte {
  background: url("../img/main-footer/vkontakte.svg") no-repeat center;
}

.social__link--youtube {
  background: url("../img/main-footer/youtube.svg") no-repeat center;
}

.social__link--telegram {
  background: url("../img/main-footer/telegram.svg") no-repeat center;
}

.copyright__text {
  font-size: 19px;
  font-weight: 600;
  line-height: 18px;
  color: @base-title-color;
}

.copyright__picture {
  fill: @header-item-background;
}
