.social__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 30px auto 39px auto;
  width: 136px;
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover .social__icon {
    fill: #46c1ae;
  }

  &:active .social__icon {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.social__icon {
  fill: #000000;
}

@media (min-width: @tablet-width) {
  .social__list {
    justify-content: flex-start;
    width: 150px;
    margin: 0 116px;
    padding: 0;
  }

  .social__item:not(:last-child) {
    margin-right: 29px;
  }

  .social__item:first-child {
    margin-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 0 13px -8px;
    padding: 0;
  }
}
