.advantages__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__description {
  font-size: 17px;
  font-weight: 600;
  color: @base-title-color;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: grid;
    grid-template-columns: 292px 340px;
    grid-template-rows: 50px;
    gap: 41px 36px;
    width: 668px;
    margin: 0 auto;
    padding: 25px 0;
    box-sizing: border-box;
  }

  .advantages__title {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .advantages__list {
    display: grid;
    width: 668px;
    margin: 0;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(auto-fit, minmax(101px, 1fr));
    gap: 43px 28px;
  }

  .advantages__item--position-one {
    grid-column: 1;
    grid-row: 1;
  }

  .advantages__item--position-two {
    grid-column: 1;
    grid-row: 2;
  }

  .advantages__item--position-three {
    grid-column: 1;
    grid-row: 3;
  }

  .advantages__item--position-four {
    grid-column: 2;
    grid-row: 1;
  }

  .advantages__item--position-five {
    grid-column: 2;
    grid-row: 2;
  }

  .advantages__item--position-six {
    grid-column: 2;
    grid-row: 3;
  }

  .advantages__description {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    padding-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1080px;
    display: grid;
    grid-template-columns: 292px 340px;
    grid-template-rows: 50px;
    gap: 41px 36px;
    margin: 25px 0;
    justify-content: center;
  }

  .advantages__list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 335px);
    grid-template-rows: repeat(auto-fit, minmax(111px, 1fr));
    gap: 43px 28px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    justify-self: flex-start;
  }
}
