.advantages__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__description {
  font-size: 17px;
  font-weight: 600;
  color: @base-title-color;
  line-height: 20px;
}
