.advantages {
  width: 100%;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.advantages__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: 56px 0 0 0;
  color: @base-title-color;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 28px 0 0 0;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 29px;
  min-height: 94px;
}

.advantages__item--position-one {
  background: url("../img/main-container/advantages/icon-eco-material.svg") no-repeat 10px -1px;
}

.advantages__item--position-two {
  background: url("../img/main-container/advantages/scandinavian-style.svg") no-repeat top left;
}

.advantages__item--position-three {
  background: url("../img/main-container/advantages/heart.svg") no-repeat 9px 4px;
}

.advantages__item--position-four {
  background: url("../img/main-container/advantages/yarn.svg") no-repeat 5px 2px;
}

.advantages__item--position-five {
  background: url("../img/main-container/advantages/rocket.svg") no-repeat -3px 3px;
}

.advantages__item--position-six {
  background: url("../img/main-container/advantages/gift-wrap.svg") no-repeat 5px 1px;
}

.advantages__description {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: @base-title-color;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 100%;
  }

  .advantages__wrapper {
    display: grid;
    grid-template-columns: 292px 340px;
    grid-template-rows: 50px;
    gap: 41px 36px;
    width: 768px;
    margin: 0 auto;
    padding: 71px 50px 26px;
    box-sizing: border-box;
  }

  .advantages__title {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 0 6px;
  }

  .advantages__list {
    display: grid;
    width: 668px;
    margin: 0;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(auto-fit, minmax(101px, 1fr));
    gap: 32px 20px;
  }

  .advantages__item--position-one {
    grid-column: 1;
    grid-row: 1;
    margin-left: 5px;
    padding-top: 6px;
    box-sizing: content-box;
  }

  .advantages__item--position-two {
    grid-column: 1;
    grid-row: 2;
    padding-left: 5px;
  }

  .advantages__item--position-three {
    grid-column: 1;
    grid-row: 3;
    margin-left: 5px;
  }

  .advantages__item--position-four {
    grid-column: 2;
    grid-row: 1;
    padding-top: 6px;
    box-sizing: content-box;
    background-position: 2px 3px;
  }

  .advantages__item--position-five {
    grid-column: 2;
    grid-row: 2;
    background-position: -7px 3px;
  }

  .advantages__item--position-six {
    grid-column: 2;
    grid-row: 3;
    background-position: 2px -1px;
  }

  .advantages__description {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 100%;
    padding-bottom: 43px;
  }

  .advantages__wrapper {
    width: 1150px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 41px 36px;
    padding: 1px 50px;
    margin: 0 auto;
  }

  .advantages__title {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 53px;
    line-height: 57px;
    margin-left: 191px;
  }

  .advantages__list {
    grid-column: 1/-1;
    grid-row: 2;
    margin: 0 auto;
    gap: 23px 20px;
  }

  .advantages__item {
    background-position: 1px 1px;
  }

  .advantages__item--position-one {
    background-position: 4px -4px;

    & .advantages__description {
      padding: 0;
      margin: 0 0 4px -4px;
    }
  }

  .advantages__item--position-two {
    padding-top: 5px;
    background-position: 1px 4px;

    & .advantages__description {
      margin: 0 0 -2px -4px;
    }
  }

  .advantages__item--position-three {
    background-position: 3px 14px;

    & .advantages__description {
      margin: 0 0 -8px -4px;
    }
  }

  .advantages__item--position-four {
    background-position: 15px 1px;

    & .advantages__description {
      margin: 0 0 3px 11px;
    }
  }

  .advantages__item--position-five {
    background-position: 4px 6px;

    & .advantages__description {
      margin: 0 0 -4px 11px;
    }
  }

  .advantages__item--position-six {
    background-position: 14px 11px;

    & .advantages__description {
      margin: 0 0 -10px 11px;
    }
  }
}
/*@media (min-width: @desktop-width) {
  .advantages {
    width: 100%;
  }

  .advantages__wrapper {
    width: 1150px;
    display: grid;
    grid-template-columns: 292px 358px;
    grid-template-rows: auto auto;
    gap: 41px 36px;
    padding: 131px 50px 71px;
    margin: 0 auto;
    justify-content: center;
  }

  .advantages__list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 334px);
    grid-template-rows: repeat(auto-fit, minmax(109px, 1fr));
    gap: 32px 17px;
    padding-bottom: 20px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    justify-self: flex-start;
    margin: -6px 10px;
  }

  .advantages__item--position-one {
    padding: 0;
    margin: 0 11px 7px;
    background-position: 7px 2px;
  }

  .advantages__item--position-two {
    margin: 0 0 -5px;
    padding: 0;
    background-position: 1px 9px;
  }

  .advantages__item--position-three {
    margin: 0 0 -49px 0;
    padding: 0 0 41px 0;
    background-position: 9px 21px;
  }

  .advantages__item--position-four {
    padding: 0;
    margin: 0 0 8px;
    background-position: 9px 4px;
  }

  .advantages__item--position-five {
    margin-bottom: -7px;
  }

  .advantages__item--position-six {

  }

  .advantages__description {
    padding: 0;
    margin: 0;
  }
}*/
