.best-product__subject {
  font-size: 25px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.best-product__promo-title {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: @header-item-background;
}

.best-product__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: @base-text-color;
}

.best-product__list {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: @base-text-color;
}

.best-product__price {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0;
  color: @base-text-color;
}
