.catalog {
  width: 100%;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 100%;
  }

  .catalog__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 100%;
  }

  .catalog__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 0 67px;
    box-sizing: border-box;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 20px;
    margin-bottom: -2px;
  }
}
