.contacts {
  width: 100%;
  margin: 0 0 39px 0;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.contacts__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.contacts__icon--hidden {
  display: none;
}

.contacts__parameter {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @base-text-color;
}

.contacts__meaning {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @base-text-color;
}

.contacts__link {
  text-decoration: none;
  color: @base-text-color;
}

.contacts__picture {
  margin: 0 0 40px -30px;
}

.contacts__picture-mobile--hidden {
  display: block;
}

.contacts__picture-desktop--hidden {
  display: none;
}

.contacts__picture-table--hidden {
  display: none;
}

.contacts__button-inner {
  display: flex;
  justify-content: center;
}

.contacts__button {
  width: 260px;
  text-transform: uppercase;
  padding: 16px 37px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(109px, 1fr));
    width: 768px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .contacts__inner {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .contacts__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    width: 300px;
  }

  .contacts__icon--hidden {
    display: block;
  }

  .contacts__list {
    display: flex;
    grid-row: 2;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 49px;
  }

  .contacts__item {
    display: flex;
    padding: 0 49px 0 0;
  }

  .contacts__parameter {
    margin: 0;
    padding: 0 25px 0 0;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__meaning {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__picture-mobile--hidden {
    display: none;
  }

  .contacts__picture-desktop--hidden {
    display: none;
  }

  .contacts__picture-table--hidden {
    display: block;
  }

  .contacts__picture {
    grid-row: 3;
    padding: 0;
    margin: 0 0 55px 0;
  }

  .contacts__button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 4;
  }

  .contacts__button {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    display: grid;
    grid-template-columns: 72px 344px 527px;
    grid-template-rows: 141px 150px 132px;
    gap: 35px 60px;
    width: 1150px;
    margin: 0 auto;
    padding: 25px 0;
    box-sizing: border-box;
  }

  .contacts__inner {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
  }

  .contacts__title {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__icon {
    order: 1;
    padding-right: 85px;
  }

  .contacts__list {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  .contacts__parameter {
    padding: 0 25px 20px 0;
  }

  .contacts__picture {
    grid-column: 3;
    grid-row: 1/-1;
    margin: 0 auto;
  }

  .contacts__picture-mobile--hidden {
    display: none;
  }

  .contacts__picture-desktop--hidden {
    display: block;
  }

  .contacts__picture-table--hidden {
    display: none;
  }

  .contacts__button-inner {
    grid-column: 2;
    grid-row: 3;
    display: flex;
  }
}
