.contacts {
  margin: 0 0 39px 0;
}

.contacts__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.contacts__parameter {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @base-text-color;
}

.contacts__meaning {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @base-text-color;
}

.contacts__link {
  text-decoration: none;
  color: @base-text-color;
}

.button {
  .button();
}

.contacts__button {
  margin: 0 0 39px 0;
}

.contacts__picture {
  margin: 0 0 40px 0;
}
