.header {
  background: url("../img/main-container/menu-header/hero-mobile.png") no-repeat center top;
  object-fit: scale-down;
}

.header__holder {
  padding: 73px 0 0 0;
  box-sizing: border-box;
}

.header__slogan {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
/*  padding: 73px 0 120px 0;
  box-sizing: border-box;*/
  margin: 0 0 120px 0;
}

.header__list {
  padding: 0;
}

.header__item {
  padding: 24px 36px 31px 30px;
  box-sizing: border-box;
  background-color: @header-item-background;
  list-style: none;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
}

.header__item--current {
  background-color: @header-item-background-current;
}

.header__container {
  background-color: #f1f1f1;
  padding: 73px 22px;
  margin: 0 0 17px 0;
}

.header__title {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
