.header {
  background: url("../img/main-container/menu-header/hero-mobile.png") no-repeat center -19px;
  object-fit: contain;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-container/menu-header/hero-mobile@2x.jpg");
    background-size: 320px auto;
    background-position: center -19px;
  }
}

.header__holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.header__slogan {
  width: 254px;
  height: 100px;
  margin: 0 auto 110px;
  padding-top: 56px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.header__list {
  padding: 0;
  margin: 0;
}

.header__item {
  background-color: @header-item-background;
  list-style: none;
}

.header__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
  padding: 27px 35px 25px 32px;
  box-sizing: border-box;

  &:hover {
    padding: 19px 36px 37px 39px;
    box-sizing: border-box;
  }

  &:hover .header__item-icon {
    opacity: 0.7;
  }

  &:active {
    padding: 19px 36px 37px 39px;
    box-sizing: border-box;
  }

  &:active .header__item-icon {
    opacity: 0.3;
  }
}

.header__item-icon {
  fill: #149080;
  opacity: 0.5;
}

.header__item-icon--interior {
  position: absolute;
  top: 22px;
  right: 35px;
}

.header__item-icon--toy {
  position: absolute;
  top: 26px;
  right: 25px;
}

.header__text {
  width: 130px;
}

.header__item--current {
  background-color: @header-item-background-current;
}

.header__container {
  background-color: #f1f1f1;
  padding: 73px 22px;
  margin: 0 0 17px 0;
}

.header__title {
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .header {
    background: url("../img/main-container/menu-header/hero-tablet.png") no-repeat center -92px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-container/menu-header/hero-tablet@2x.jpg");
      background-size: 768px auto;
      background-position: center -92px;
    }
  }

  .header__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    padding: 0 50px;
    box-sizing: border-box;
    min-height: 534px;
    margin: 0 auto;
  }

  .header__slogan {
    box-sizing: border-box;
    margin: 0 0 0 10px;
    padding-top: 50px;
    width: 530px;
    font-size: 43px;
    line-height: 50px;
  }

  .header__slogan-mobile {
    display: none;
  }

  .header__list {
    position: relative;
    width: 100%;
    display: flex;
    margin: -14px 0 0 0;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .header__item {
    width: 100%;
    background-color: @header-item-background;
    list-style: none;
    height: 119px;
  }

  .header__link {
    padding: 27px 36px 32px 42px;
    box-sizing: border-box;
  }

  .header__item-icon--interior {
    top: 31px;
    right: 31px;
  }

  .header__item-icon--toy {
    top: 32px;
    right: 29px;
  }

  .header__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 131px;
  }

  .header__item--current {
    background-color: @header-item-background-current;
  }

  .header__pattern {
    list-style-type: none;
    position: absolute;
    top: 100px;
    width: 93%;
    height: 24px;
    background-position: left bottom;
    background-image: url("../img/pattern-tablet.png");
    background-repeat: repeat;
  }
}

@media (min-width: @desktop-width) {
  .header {
    background: url("../img/main-container/menu-header/hero-desktop.png") no-repeat center -91px;
    width: 100%;
    padding-bottom: 26px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-container/menu-header/hero-desktop@2x.jpg");
      background-position: center -91px;
      background-size: cover;
    }
  }

  .header__holder {
    width: 1150px;
    margin: 0 auto;
    min-height: 614px;
  }

  .header__slogan {
    width: 723px;
    font-size: 53px;
    line-height: 57px;
    justify-content: center;
    margin-left: 34px;
    margin-top: -11px;
  }

  .header__list {
    position: relative;
    margin: -106px 0 0 18px;
  }

  .header__item {
    width: 100%;
  }

  .header__link {
    padding: 24px 36px 32px 36px;
  }

  .header__text {
    width: 138px;
  }

  .header__pattern {
    background-position: -20px 0;
    background-image: url("../img/pattern-desktop.png");
    background-repeat: repeat;
  }

  .header__item-icon--interior {
    right: 38px;
  }

  .header__item-icon--toy {
    right: 35px;
  }
}
