.main-container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-container {
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-container {
    width: @desktop-width;
    margin: 0 auto;
  }
}
