.product-form {
  width: 100%;
}

.product-form__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.product-form__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: @base-text-color;
  margin: 0 0 29px 0;
}

.product-form__fieldset {
  border: none;
  margin: 0 0 31px 0;
}

.product-form__subject {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: @header-item-background;
}

.product-form__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: @base-title-color;
}

.product-form__textarea {
  border: 2px solid @base-text-color;
}

.product-form__prompt {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @base-text-color;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .product-form {
    width: 100%;
  }

  .product-form__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-form__description {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 36px 0;
  }

  .product-form__fieldset {
    display: grid;
    grid-template-columns: 62px 511px;
    gap: 0 107px;
    justify-content: space-between;
    padding: 66px 51px;
    box-sizing: border-box;
    margin: 0;
  }

  .product-form__subject {
    grid-column: 1;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .product-form__container {
    grid-column: 2;
  }

  .product-form__footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .product-form__prompt {
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .product-form__button {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .product-form {
    width: 100%;
  }

  .product-form__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-form__description {
    width: 702px;
    margin: 0 auto 62px auto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }

  .product-form__footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 0 0 50px 376px;
  }

  .product-form__prompt {
    order: 2;
  }

  .product-form__button {
    order: 1;
  }
}
