.product-form {
  width: 100%;
}

.product-form__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.product-form__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: @base-text-color;
  margin: 0 0 29px 0;
}

.product-form__fieldset {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid @header-item-background;
  padding: 0;
  margin: 0 0 20px 0;
}

.product-form__subject {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  padding: 0 25px 0 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: @header-item-background;
}

.product-form__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  color: @base-title-color;
}

.product-form__input {
  margin: 0;
  padding: 0;
}

.product-form__label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 11px 0;
}

.product-form__input--radio {
  position: relative;
  display: block;
  margin: 0 19px 0 0;
  width: 42px;
  height: 42px;
  color: #000000;
}

.product-form__label--radio .product-form__control-mark {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.product-form__label:hover .product-form__control-mark {
  border-color: #62d1ba;
}

.product-form__label:active .product-form__control-mark {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.product-form__label:disabled .product-form__control-mark {
  border-color: #444444;
  opacity: 0.3;
}

.product-form__input--radio[type="radio"]:checked + .product-form__control-mark::before,
.product-form__input--radio[type="radio"]:checked + .product-form__control-mark::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.product-form__container {
  display: flex;
  flex-direction: column;
}

.product-form__label--checkbox {
  position: relative;
  margin-left: 63px;
  margin-bottom: 39px;
}

.product-form__label--checkbox .product-form__control-mark {
  position: absolute;
  left: -63px;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}

.product-form__input--checkbox[type="checkbox"]:checked + .product-form__control-mark::before,
.product-form__input--radio[type="checkbox"]:checked + .product-form__control-mark::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 3px;
  width: 32px;
  height: 24px;
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
}

.product-form__text {
  padding: 17px 60px 17px 0;
  margin-bottom: 21px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  box-shadow: inset 0px -2px 0px #000000;
}

.product-form__text:hover  {
  box-shadow: inset 0px -2px 0px #62d1ba;
  border: none;
  outline: none;
}

.product-form__text:active,
.product-form__text:focus {
  box-shadow: inset 0px -2px 0px #62d1ba;
  border: none;
  outline: none;
}

.product-form__icon {
  position: absolute;
  top: 16px;
  right: 0;
}

.product-form__textarea {
  min-height: 142px;
  border: 2px solid @base-title-color;
  color: @base-text-color;
  font-family: @base-font;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.product-form__textarea:hover  {
  border: 2px solid #62d1ba;
  border-radius: 0;
}

.product-form__textarea:active,
.product-form__textarea:focus {
  border: 2px solid #62d1ba;
  border-radius: 0;
}

.product-form__prompt {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @base-text-color;
}

.product-form__footer-form {
  margin-bottom: 55px;
}

.product-form__button {
  width: 260px;
  padding: 18px 37px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .product-form {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: -37px 0 0 0;
  }

  .product-form__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-form__description {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 63px 0;
  }

  .product-form__item {
    width: 668px;
    display: grid;
    grid-template-columns: 58px 510px;
    gap: 0 100px;
    margin-bottom: 50px;
    border: none;
  }

  .product-form__back-color {
    position: absolute;
    z-index: -1;
    top: 236px;
    background-color: #f1f1f1;
    width: 100%;
    height: 241px;
  }

  .product-form__back-color-two {
    position: absolute;
    z-index: -1;
    background-color: #f1f1f1;
    width: 100%;
    top: 759px;
    height: 230px;
  }

  .product-form__fieldset {
    display: contents;
  }

  .product-form__subject {
    grid-column: 1;
    grid-row: 1;
    font-size: 17px;
    line-height: 16px;
    padding: 0;
    margin: 18px 0 0 0;
    text-transform: uppercase;
  }

  .product-form__container {
    grid-column: 2/-1;
    grid-row: 1;
  }

  .product-form__container-text {
    display: grid;
    grid-template-columns: 100px 400px;
    gap: 0 10px;
  }

  .product-form__title {
    margin-top: 15px;
  }

  .product-form__container--color {
    display: grid;
    grid-template-columns: repeat(2, 218px);
    gap: 0 44px;
  }

  .product-form__footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .product-form__text {
    padding: 17px 60px 17px 18px;
    box-sizing: border-box;
    background-color: transparent;
  }

  .product-form__icon {
    position: absolute;
    top: 16px;
    right: 22px;
  }

  .product-form__prompt {
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .product-form__button {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .product-form {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .product-form__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-form__description {
    width: 702px;
    margin: 0 auto 62px auto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }

  .product-form__item {
    display: grid;
    grid-template-columns: 98px 875px;
    gap: 0 77px;
    margin-bottom: 49px;
    border: none;
  }

  .product-form__back-color {
    top: 239px;
    height: 164px;
  }

  .product-form__back-color-two {
    top: 691px;
  }

  .product-form__subject {
    justify-self: flex-end;
    margin: 18px 0 0 0;
  }

  .product-form__container-text {
    display: grid;
    grid-template-columns: 100px 765px;
    gap: 0 10px;
  }

  .product-form__title {
    margin-top: 15px;
  }

  .product-form__container--color {
    display: grid;
    grid-template-columns: repeat(2, 204px) 349px;
    gap: 0 59px;
  }

  .product-form__footer-form {
    width: 875px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
  }

  .product-form__prompt {
    order: 2;
  }

  .product-form__button {
    order: 1;
  }
}
