.reviews__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.reviews__list {
  padding: 0;
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  order: 2;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.reviews__author-social {
  order: 3;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: @base-text-color;
}

.reviews__text {
  order: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @base-text-color;
}

.reviews__item--hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 786px;
    display: grid;
    grid-template-columns: 350px 163px;
    grid-template-rows: repeat(3, 133px);
    gap: 31px 193px;
    padding: 25px 50px;
    box-sizing: border-box;
    background-image: url("../img/main-container/reviews/review-tablet-desktop.png");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    align-self: flex-end;
  }

  .reviews__list {
    grid-column: 1/-1;
    grid-row: 2;
  }

  .reviews__item {
    margin: 0;
  }

  .reviews__author-name {
    font-style: normal;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__toggles {
    grid-column: 2;
    grid-row: 3;
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0;
  }

  .reviews__button {
    grid-column: 2;
    grid-row: 1;
    padding: 16px 26px;
    text-align: center;
    align-self: center;
    justify-self: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1080px;
    display: grid;
    grid-template-columns: 422px 290px;
    grid-template-rows: repeat(2, 132px) 144px;
    gap: 25px 338px;
    padding: 25px 0;
    box-sizing: border-box;
    background-image: url("../img/main-container/reviews/review-tablet-desktop.png");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 53px;
    line-height: 57px;
    align-self: flex-end;
  }

  .reviews__toggles {
    grid-column: 2;
    grid-row: 3;
    align-self: flex-start;
    justify-self: flex-end;
  }

  .reviews__button {
    grid-column: 2;
    grid-row: 1;
    padding: 16px 26px;
    text-align: center;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .reviews__text {
    width: 808px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 44px;
    margin: 0;
  }
}
