.reviews {
  width: 100%;
  padding: 0 0 68px 0;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.reviews__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 58px;
  color: @base-title-color;
}

.reviews__list {
  padding: 0;
  margin: 0;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-style: normal;
  order: 2;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: @base-title-color;
}

.reviews__author-social {
  order: 3;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: @base-text-color;
  margin: 5px 0 18px 0;
}

.reviews__text {
  order: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-top: -6px;
  margin-bottom: 29px;
  width: 252px;
  color: @base-text-color;
}

.reviews__item--hidden {
  display: none;
}

.reviews__toggles {
  display: flex;
  align-items: center;
}

.reviews__button {
  padding: 12px 66px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 100%;
  }

  .reviews__wrapper {
    width: 786px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 210px;
    grid-template-rows: repeat(3, 133px);
    gap: 41px 126px;
    padding: 25px 50px;
    box-sizing: border-box;
    background-image: url("../img/main-container/reviews/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 5px 27px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-container/reviews/review-tablet@2x.jpg");
      background-position: 5px 27px;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    padding-left: 5px;
    align-self: flex-end;
  }

  .reviews__list {
    grid-column: 1/-1;
    grid-row: 2;
    padding-left: 5px;
  }

  .reviews__item {
    margin: 0;
  }

  .reviews__author-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__author-social {
    margin-top: 8px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin: 0 0 60px 0;
    padding: 0;
  }

  .reviews__toggles {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 10px;
  }

  .reviews__button {
    grid-column: 2;
    grid-row: 1;
    width: 174px;
    text-align: center;
    align-self: center;
    margin: 80px 0 0 23px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 100%;
  }

  .reviews__wrapper {
    width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 422px 290px;
    grid-template-rows: repeat(2, 132px) 144px;
    gap: 25px 338px;
    padding: 25px 50px;
    box-sizing: border-box;
    background-image: url("../img/main-container/reviews/review-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 67px 26px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-container/reviews/review-desktop@2x.jpg");
      background-position: 67px 26px;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 53px;
    line-height: 57px;
    padding: 15px 0 0 191px;
  }

  .reviews__list {
    padding: 15px 0 0 191px;
  }

  .reviews__author-name {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .reviews__toggles {
    grid-column: 2;
    grid-row: 3;
    margin: -6px -31px 0 1px;
  }

  .reviews__button {
    grid-column: 2;
    grid-row: 1;
    padding: 12px 26px;
    text-align: center;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 0 -17px 0 0;
  }

  .reviews__text {
    width: 808px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 44px;
    margin: 0;
  }
}
